<table *ngIf="data" class="ui table">
  <caption>
    {{
      title
    }}
  </caption>
  <thead>
    <tr>
      <th *ngFor="let header of headers">
        {{ header.label }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of data.data.tableauAmortissement">
      <td>
        {{ record.month }}
      </td>
      <td>
        {{ record.soldeDebut }}
      </td>
      <td>
        {{ record.mensualite }}
      </td>
      <td>
        {{ record.interet.interetRound }}
      </td>
      <td>
        {{ record.capitalRembourse.capitalRembourseRound }}
      </td>
      <td>
        {{ record.soldeFin }}
      </td>
    </tr>
  </tbody>
</table>
